[Unit]
Description=Launcher session
# (not after the network or user sessions: Home starts as soon as the seat is ready)
Wants=seatd.service
After=seatd.service plymouth-start.service plymouth-quit.service launchos-reconcile.service
Conflicts=plymouth-quit.service
StartLimitIntervalSec=0
[Service]
User=player
RuntimeDirectory=player
RuntimeDirectoryMode=0700
TTYPath=/dev/tty1
StandardInput=tty-force
StandardOutput=journal
TTYReset=yes
TTYVHangup=yes
ExecStartPre=+-/usr/bin/plymouth quit --retain-splash
ExecStart=/usr/local/bin/launchos-session
KillMode=control-group
Restart=always
RestartSec=2
[Install]
WantedBy=graphical.target
